@import 'tailwindcss';

:root {
  --background: #faf6ef;
  --foreground: #ffffff;
  --sidebar: #f7eede;
  --sidebar-active: #fcdfc4;
  --dark-blue: #080b19;
  --ember: #e8622c;
  color-scheme: light;
}

.dark {
  --background: #0b0b11;
  --foreground: #1d202c;
  --sidebar: #12121a;
  color-scheme: dark;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ink-black: var(--ink-black);
  --color-dark-blue: var(--dark-blue);
  --color-sidebar: var(--sidebar);
  --color-ember: var(--ember);
  --font-sans: var(--font-raleway-sans);
  --font-title: var(--font-zilla-slab);
  --font-mono: var(--font-space);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway-sans), 'Helvetica Neue', Arial, sans-serif;
}
